@import "tailwindcss";

@font-face {
    font-family: 'MouseMemoirs';
    src: url("../assets/MouseMemoirs.ttf") format('truetype');
    font-weight: normal;
    font-style: auto;
}

#root {
  margin: 0;
  text-align: center;
}